<div>
    <h1>Trivia Master</h1>
</div>
<div>
    <h3>Top 10 Highscorers</h3>
    <table>
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Score</th>
        </tr>
        <tr>
            <td>1</td>
            <td>ERW</td>
            <td>999</td>
        </tr>
        <tr>
            <td>2</td>
            <td>ERW</td>
            <td>999</td>
        </tr>
        <tr>
            <td>3</td>
            <td>ERW</td>
            <td>999</td>
        </tr>
    </table>
</div>
<div>
    <button type="button" name="button">New Game</button>
</div>
